<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body style="background-image: url('your_trending_image_url');">
    <h2>Welcome All, this is my website</h2>
    <h3>Signup</h3>
    <form action="/signup" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="dob">Date of Birth:</label><br>
        <input type="text" id="dob" name="dob"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Signup">
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>
